<%- include("header") %>
    <div class="contactaa">
        <h1>About Us</h1>
    </div>
    <div><img src="photo_2022-10-29_23-13-25.jpg" alt="Developer" class="img"></div>
    <div class="textt font">I am Palash, from UEMK. An aspiring front end web developer. Currently looking for
        internships.
        Have completed my sencondary education from KRVM and higher secondary from KCS and Currently studying
        Engineering in UEMK.
    </div>
    <div class="textt font"> And in career develoiping some basic websites now.</div>
    <%- include("footer") %>