<%-  include("header") %>
<div class="contactaaa">
    <h1>Compose a new Blog!</h1>
</div>
<form action="/compose" method="post">
    <textarea name="title" class="area dd" cols="150" rows="2" placeholder="Enter Your Title"></textarea>
    <textarea name="w3review" class="area pos" rows="7" cols="150" placeholder="Please Compose your Blog"></textarea>
    <br>
    <div class="container">
        <button id="btn" class="iio">
            <p id="btnText1">Publish</p>
        </button>
    </div>
</form>
<%- include("footer") %>