    <%- include("header") %>
    <div class="contactaa">
        <h1>Contact Us</h1>
    </div>
    <h1 class="font or">We are Abailable for You.</h1>
    <form class="signup-form" action="/contact" method="post">
        <h1>We will Contact You</h1><br><br>
        
        <input class="input texti" type="text" name="text" placeholder="Your Name" required>
        <input class="input mail" type="email" name="email" placeholder="Your Mail Id" required>
        <br><input type="checkbox" name="tickk" id="checkkk"><label for="checkbox"> To Get Update From Us.</label>
        <br><br>
        <button id="btnText">Submit</button>
    </form>
    <%- include("footer") %>