</body>
<footer>
    <div class="footer font">
        <div class="h3">
            <h3>All codes are made by Palash with love.</h3>
            <a href="https://github.com/iamrealpalash">Github</a>
        </div>
    </div>
</footer>

</html>