<%- include("header") %>
    <div class="bbody font">
        <h1 class="font1">
            <%= title %>
        </h1>
        <p>
            <%= content %>
        </p>
    </div>

    <%- include("footer") %>